# OSX hidden files
.DS_Store

# XP5K
xp.conf
.xp_cache

# Scenarios
scenarios/*/hiera/generated
scenarios/*/puppet/modules-openstack
scenarios/*
!scenarios/liberty_starter_kit
!scenarios/liberty_multinodes

dashboard_tunnels.sh

# Rubygems
.gem/

# Restfully
.restfully/

